<!DOCTYPE html>
<html ng-app="myApp" ng-cloak>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jobFinder</title>
    <link rel="icon" href="/assets/log/bird.png">
    <!-- Core CSS - Include with every page -->
    <link href="/assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet"/>
    <link href="/assets/css/main-style.css" rel="stylesheet"/>
     <link href="/assets/css/mystyle.css" rel="stylesheet"/>
    <link href="/assets/css/chat.css" rel="stylesheet"/>
    <link href="/assets/css/modal.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/ng-img-crop/compile/minified/ng-img-crop.css">
      <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
   </style>
     <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
   </head>
<body ng-controller="homePageController">
    <!--  wrapper -->
        <div id="wrapper">
            <!-- navbar top -->
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
                <!-- navbar-header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <!-- <img src="/assets/img/logo.jpg" alt="" /> -->
                        <SPAN class="logStyle" translate="yourhelplabdotcom"></SPAN>
                    </a>
                </div>
                <!-- end navbar-header -->
                <!-- navbar-top-links -->
                <ul class="nav navbar-top-links navbar-right">
                    <!--friend requests-->
                     <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-click="friendRequestHasBeenSeen()">
                            <span class="top-label label label-danger">{{numberOfFriendRequests}}</span><i class="fa fa-user fa-3x fa fa-user-plus"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-messages scrollbarfriendRequestnotification" id="friendRequestnotification-1">
                            <li ng-repeat="friendRequest in friendRequests">
                                          <div class='container2' ng-if="friendRequests.length>0">
                                            <div>
                                              <img  ng-src="/userImage/{{friendRequest.photo}}" class='iconDetailsFriendRequest'>
                                            </div>
                                            <div style='margin-left:60px;'>
                                            <h4>{{friendRequest.username}}</h4>
                                            <div style="font-size:1em">
                                               <input type="button" value="Confirm" ng-click="okFriendRequest(friendRequest.Id,friendRequest.fromUserId,friendRequest.userroom)" class="btn btn-primary">
                                               <input type="button" value="Delete" ng-click="noFriendRequest(friendRequest.Id,friendRequest.fromUserId,friendRequest.userroom)" class="btn btn-chat">
                                            </div>

                                            <div style="float:right;font-size:.8em"><span am-time-ago="friendRequest.date"></span></div>
                                          </div>
                                 <li class="divider"></li>
                            </li>
                            <a href="" ng-if="friendRequests.length>6" ng-click="getFriendRequestsOnScrolling()" translate="seeMoreFriendRequest">see more friend requests.....</a>
                        </ul>
                    </li>
                    <!-- messages -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-click="messageHasBeenSeen()">
                            <span class="top-label label label-danger">{{numberOfMessages}}</span><i class="fa fa-envelope fa-3x"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-messages topbarscrollbarmessageNotification" id="topbarmessagenotification-1">
                            <li class="list-group-item list-group-item-warning" ng-repeat="userMessage in postUserMessages">
                                  <div class='container2'>
                                    <div ng-if="postUserMessages.length!=0">
                                     <img ng-src="/userImage/{{userMessage.photo}}" class='iconDetails'>
                                    </div>
                                    <div style='margin-left:60px;'>
                                    <h4>{{userMessage.username}}</h4>
                                    <div style="font-size:1em">
                                      <!-- <a href="" ng-click="letsChat(userMessage.userId,userMessage.username)"></a> -->
                                      <a href="/jobFinder/notifications/{{userFullName}}">{{userMessage.message}}</a>

                                    </div>
                                    <div style="float:right;font-size:.8em">
                                     <span am-time-ago="userMessage.date"></span></div>
                                  </div>
                                 <li class="divider"></li>
                            </li>
                            <a href="" ng-if="postUserMessages.length>4" ng-click="getMessageOnScrolling()" translate="seeMoreMessages">see more messages.......</a>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-click="notificationHasBeenSeen()">
                            <span class="top-label label label-warning">{{notificationResultOne}}</span><i class="fa fa-bell fa-3x"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts topbarscrollbarNotification" id="topbarnotification-1">
                           <li class="list-group-item list-group-item-danger" ng-repeat="userNotificationMessages in userNotificationMessages">
                                 <div class='container2'>
                                    <div>
                                      <img ng-src="/userImage/{{userNotificationMessages.photo}}" class='iconDetails'>
                                    </div>
                                    <div style='margin-left:60px;'>
                                    <h4>{{userNotificationMessages.username}}</h4>
                                    <div style="font-size:1em"><a href="#detailsModal" ng-click="showModal(userNotificationMessages.location)" data-toggle="modal">{{userNotificationMessages.message}}</a></div>
                                    <div style="float:right;font-size:.8em"><a href="#infoModal" data-toggle="modal" ng-click="details(userNotificationMessages.fromUserId,userNotificationMessages.location)" translate="aboutUser">see about user</a><span am-time-ago="userNotificationMessages.date"></span></div>
                                  </div>
                                 <li class="divider"></li>

                           </li>
                           <a href="" ng-if="userNotificationMessages.length>4" ng-click="getOtherNotificationsOnScrolling()"  translate="seeMoreNotifications">see more........</a>
                        </ul>
                        <!--end of notification-->
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-sign-out fa_custom fa-2x"></i>
                        </a>
                        <!-- dropdown user-->
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="/jobFinder/settings/{{userFullName}}"><i class="fa fa-gear fa-1x" translate="Settings"></i></a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/" ng-click="logout()"><i class="fa fa-sign-out fa_custom fa-1x" translate="logout"></i></a>
                            </li>
                        </ul>
                        <!-- end dropdown-user -->
                    </li>
                    <!-- end main dropdown -->
                </ul>
                <!-- end navbar-top-links -->

            </nav>
            <!-- end navbar top -->
            <!-- navbar side -->
            <nav class="navbar-default navbar-static-side" role="navigation">
                <!-- sidebar-collapse -->
                <div class="sidebar-collapse">
                    <!-- side-menu -->
                    <ul class="nav" id="side-menu">
                        <li>
                            <!-- user image section-->
                            <div class="user-section" ng-controller="homePageController">
                                <div class="user-section-inner profileImage">
                                    <a href="/jobFinder/settings/{{userFullName}}" ng-model="photo"><img ng-src="/userImage/{{photo}}" alt=""></a>
                                </div>
                                <div class="user-info">
                                    <div ng-model="result">{{sharedDataUserName[1]}}</div>
                                    <div class="user-text-online">
                                        <span class="user-circle-online btn btn-success btn-circle" translate="online"></span>
                                    </div>
                                </div>
                            </div>
                            <!--end user image section-->
                        </li>
                        <li class="selected">
                            <a href="/jobFinder/admin/home">Admin home</a>
                        </li>
                        <li>
                            <a href="/jobFinder/admin/permission">permission</a>
                        </li>
                    </ul>
                    <!-- end side-menu -->
                </div>
                <!-- end sidebar-collapse -->
            </nav>
            <!-- end navbar side -->
            <!--  page-wrapper -->
            <div id="page-wrapper">
              <div class="row">
                 <!-- page header -->
                <div class="col-lg-12">
                    <h1 class="page-header">admin works</h1>
                </div>
                <!--end page header -->
            </div>

            <div class="row" ng-controller="adminController">
                <div class="col-lg-12">
                    <!-- Form Elements -->
                    <div>
                       <label><input type="text" ng-model="passengers" placeholder="passengers" class="form-control">
                       <input type="button" value="load Passengers" ng-click="loadPassengers()"></label>
                    </div>
                     <div class="panel panel-default">
                          <table>
                            <tr>
                              <th>tele</th>
                              <th>date</th>
                              <th>from time</th>
                               <th>fromPlace</th>
                               <th>toPlace</th>
                               <th>choosedTransport</th>
                               <th>code</th>
                               <th>approved</th>
                          </tr>
                              <tr ng-repeat="passenger in allPassengers | filter:passengers">
                                <td>{{passenger.telephone}}</td>
                                <td>{{passenger.date | date:'yyyy-MM-dd HH:mm'}}</td>
                                <td>{{passenger.fromTime | date:'HH:mm'}}</td>
                                <td>{{passenger.fromPlace}}</td>
                                <td>{{passenger.toPlace}}</td>
                                <td>{{passenger.transportChoosed}}</td>
                                <td>{{passenger.code}}</td>
                                <td>{{passenger.approved}}</td>
                                <td><input type="button" class="btn btn-chat" value="delete" ng-click="deletePassenger(passenger.id)"></td>
                             </tr>
                        </table>
                    </div>
                    <div>
                       <label><input type="text" ng-model="transportOwner" placeholder="transport owners" class="form-control">
                         <input type="button" value="load transport owners" ng-click="loadTransportOwners()"></label>
                    </div>
                     <div class="panel panel-default">
                           <table>
                              <tr>
                                  <th>transport</th>
                                  <th>free space</th>
                                   <th>date</th>
                                   <th>from time</th>
                                    <th>to time</th>
                                   <th>from place</th>
                                   <th>to place</th>
                              </tr>
                              <tr ng-repeat="transport in allTransportOwners | filter:transportOwner">
                                  <td>{{transport.type}}</td>
                                  <td>{{transport.numberOfSeats}}</td>
                                  <td>{{transport.date | date:'yyyy-MM-dd HH:mm'}}</td>
                                  <td>{{transport.fromTime | date:'HH:mm'}}</td>
                                  <td>{{transport.toTime | date:'HH:mm'}}</td>
                                  <td>{{transport.fromPlace}}</td>
                                  <td>{{transport.toPlace}}</td>
                                  <td><input type="button" value="delete" class="btn btn-circle" ng-click="deleteTransportOwner(transport.id)"></td>
                               </tr>
                          </table>
                    </div>
                     <div>
                         <label><input type="text" ng-model="users" placeholder="user name" class="form-control">
                         <input type="button" value="load users" ng-click="loadUsers()"></label>
                      </div>
                    <div class="panel panel-default">
                          <table>
                            <tr>
                                <th>id</th>
                                <th>name</th>
                                 <th>username</th>
                                 <th>email</th>
                                 <th>photo</th>
                                 <th>userroom</th>
                                 <th>permission</th>
                                 <th>gender</th>
                                 <th>birthdate</th>
                                 <th>registrationDate</th>
                                 <th>lives in</th>
                            </tr>
                            <tr ng-repeat="user in adminpostUsers | filter:users">
                                <td>{{user.id}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.email}}</td>
                                <td><img src="/userImage/{{user.photo}}" width="20" height="20"></td>
                                <td>{{user.userroom}}</td>
                                <td>{{user.permission}}</td>
                                <td>{{user.gender}}</td>
                                <td>{{user.birthDate | date:'yyyy-MM-dd HH:mm'}}</td>
                                <td>{{user.registrationDate | date:'yyyy-MM-dd HH:mm'}}</td>
                                <td>{{user.livesIn}},{{user.country}}</td>
                                <td><input type="button" value="delete" class="btn btn-circle" ng-click="deleteUser(user.id)"></td>
                             </tr>
                        </table>
                    </div>
                     <div>
                         <label><input type="text" ng-model="client" placeholder="user name" class="form-control">
                         <input type="button" value="load clients" ng-click="postClients()"></label>
                      </div>
                    <div class="panel panel-default">
                          <table>
                            <tr>
                                <th>Id</th>
                                <th>userId</th>
                                 <th>telephone</th>
                                 <th>lookingFor</th>
                                 <th>timestamp</th>
                                 <th>timeTaken</th>
                                 <th>workDetails</th>
                                 <th>situationOfWorkAtThisTime</th>
                            </tr>
                            <tr ng-repeat="client in clients | filter:client">
                                <td>{{client.Id}}</td>
                                <td>{{client.userId}}</td>
                                <td>{{client.telephone}}</td>
                                <td>{{client.lookingFor}}</td>
                                <td>{{client.timestamp}}</td>
                                <td>{{client.timeTaken}}</td>
                                <td>{{client.workDetails}}</td>
                                <td>{{client.situationOfWorkAtThisTime}}</td>
                                <td><input type="button" value="delete" class="btn btn-circle" ng-click="deleteClients(client.Id)"></td>
                             </tr>
                        </table>
                    </div>
                    <div>
                         <label><input type="text" ng-model="professinal" placeholder="porfessional name" class="form-control">
                         <input type="button" value="load professionals" ng-click="postProfessionals()"></label>
                      </div>
                    <div class="panel panel-default">
                          <table>
                            <tr>
                                <th>Id</th>
                                <th>userId</th>
                                 <th>telephone</th>
                                 <th>remarks</th>
                                 <th>profession</th>
                                 <th>timestamp</th>
                                 <th>workSession</th>
                                 <th>lookingForJobThisTime</th>
                            </tr>
                            <tr ng-repeat="professional in professionals | filter:profession">
                                <td>{{professional.Id}}</td>
                                <td>{{professional.userId}}</td>
                                <td>{{professional.telephone}}</td>
                                <td>{{professional.remarks}}</td>
                                <td>{{professional.profession}}</td>
                                <td>{{professional.timestamp}}</td>
                                <td>{{professional.workSession}}</td>
                                <td>{{professional.lookingForJobThisTime}}</td>
                                <td><input type="button" value="delete" class="btn btn-circle" ng-click="deleteProfessional(professional.Id)"></td>
                             </tr>
                        </table>
                    </div>
                    <div>
                       <label><input type="text" ng-model="passengers" placeholder="train travellers" class="form-control">
                       <input type="button" value="load Passengers" ng-click="loadTrainPassengers()"></label>
                    </div>
                     <div class="panel panel-default">
                          <table>
                            <tr>
                              <th>tele</th>
                              <th>date</th>
                               <th>fromPlace</th>
                               <th>toPlace</th>
                               <th>choosedTransport</th>
                               <th>code</th>
                               <th>approved</th>
                          </tr>
                              <tr ng-repeat="passenger in allTrainPassengers | filter:passengers">
                                <td>{{passenger.telephone}}</td>
                                <td>{{passenger.date | date:'yyyy-MM-dd HH:mm'}}</td>
                                <td>{{passenger.fromPlace}}</td>
                                <td>{{passenger.toPlace}}</td>
                                <td>{{passenger.transportChoosed}}</td>
                                <td>{{passenger.code}}</td>
                                <td>{{passenger.approved}}</td>
                                <td><input type="button" class="btn btn-chat" value="delete" ng-click="deletePassenger(passenger.id)"></td>
                             </tr>
                        </table>
                    </div><br>
                    <button type="button" ng-click="getWebCollections()">load web collections</button><br><br>
                    <input type="text" ng-model="webCollectionAutoId" placeholder="webid">
                    <input type="text" ng-model="webCollectionId" placeholder="webcollection id">
                    <input type="text" ng-model="english" placeholder="english">
                    <input type="text" ng-model="tigrina" placeholder="tigrina">
                    <input type="text" ng-model="dutch" placeholder="dutch">
                    <input type="button" class="btn btn-primary" ng-click="addWebCollection()" value="add">
                    <button class="btn btn-warning" ng-click="updateWebCollection()">update</button> <button ng-click="deleteWebCollection()" class="btn btn-danger">delete</button>
                    <label for="">{{doneSuccefully}}</label>
                     <div class="panel panel-default">
                          <table>
                            <tr>
                              <th>id</th>
                              <th>webcollectionId</th>
                               <th>English</th>
                               <th>tigrina</th>
                               <th>dutch</th>
                               <th>Action</th>
                          </tr>
                              <tr ng-repeat="item in allWebCollections">
                                <td>{{item.Id}}</td>
                                <td>{{item.webCollectionId}}</td>
                                <td>{{item.english}}</td>
                                <td>{{item.tigrina}}</td>
                                <td>{{item.dutch}}</td>
                                <td> <button ng-click="editWebCollection(item.Id,item.webCollectionId,item.english,item.tigrina,item.dutch)" class="btn btn-primary">Edit</button> </td>
                             </tr>
                        </table>

                    </div>
                </div>
            </div>

            </div>
        </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-translate/angular-translate.js"></script>
    <!-- <script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js"></script> -->
    <script src="/assets/plugins/jquery-1.10.2.js"></script>
    <script src="/assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/controller/main.js"></script>
    <script  src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/moment/locale/de.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="/controller/autocomplete.js"></script>

</body>

</html>
