<!DOCTYPE html>
<html ng-app="myApp" ng-cloak>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jobFinder</title>
    <link rel="icon" href="/assets/log/bird.png">
    <!-- Core CSS - Include with every page -->
    <link href="/assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet"/>
    <link href="/assets/css/main-style.css" rel="stylesheet"/>
     <link href="/assets/css/mystyle.css" rel="stylesheet"/>
    <link href="/assets/css/chat.css" rel="stylesheet"/>
    <link href="/assets/css/modal.css">
    <link href="/assets/css/autocomplete.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/bower_components/ng-img-crop/compile/minified/ng-img-crop.css">
   <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
   </head>
<body ng-controller="homePageController">
    <!--  wrapper -->
        <div id="wrapper">
            <!-- navbar top -->
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
                <!-- navbar-header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <!-- <img src="/assets/img/logo.jpg" alt="" /> -->
                        <SPAN class="logStyle" translate="yourhelplabdotcom"></SPAN>
                    </a>
                </div>
                <!-- end navbar-header -->
                <!-- navbar-top-links -->
                <ul class="nav navbar-top-links navbar-right">
                      <!--salethings notification-->
                       <li class="dropdown" ng-if="permission=='admin' || permission=='thingsToSale'" >
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                              <span class="top-label label label-danger">{{numberOfMessagesInSaleClients}} </span><i class="fa fa-user fa-3x fa-shopping-cart"></i>
                          </a>
                          <ul class="dropdown-menu dropdown-messages scrollbarfriendRequestnotification" id="friendRequestnotification-1">
                              <li ng-repeat="saleThingsClient in saleItemNotice">
                                            <div class='container2'>
                                              <div style='margin-left:40px;'>
                                              <h5><a href="#saleItemIdInfo" ng-click="getSaleItem()" data-toggle="modal">Talk about the item:{{saleThingsClient.saleItemId}}</a></h5>
                                              <div>
                                                   <p><a href="#" ng-click="chatWithThisSaleClient(saleThingsClient.socketId,saleThingsClient.languageKey);myStyle={background:'lime'};" ng-style="myStyle">{{saleThingsClient.message}}-lets chat</a></p>
                                              </div>
                                              <div style="float:right;font-size:.8em"><span am-time-ago="saleThingsClient.date"></span></div>
                                            </div>
                                   <li class="divider"></li>
                              </li>
                              <a href="" ng-if="friendRequests.length>6" ng-click="getFriendRequestsOnScrolling()" translate="seeMoreFriendRequest">see more friend requests.....</a>
                          </ul>
                      </li>
                    <!--friend requests-->
                     <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-click="friendRequestHasBeenSeen()">
                            <span class="top-label label label-danger">{{numberOfFriendRequests}}</span><i class="fa fa-user fa-3x fa fa-user-plus"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-messages scrollbarfriendRequestnotification" id="friendRequestnotification-1">
                            <li ng-repeat="friendRequest in friendRequests">
                                          <div class='container2' ng-if="friendRequests.length>0">
                                            <div>
                                              <img  ng-src="/userImage/{{friendRequest.photo}}" class='iconDetailsFriendRequest'>
                                            </div>
                                            <div style='margin-left:60px;'>
                                            <h4>{{friendRequest.username}}</h4>
                                            <div style="font-size:1em">
                                               <input type="button" value="Confirm" ng-click="okFriendRequest(friendRequest.Id,friendRequest.fromUserId,friendRequest.userroom)" class="btn btn-primary">
                                               <input type="button" value="Delete" ng-click="noFriendRequest(friendRequest.Id,friendRequest.fromUserId,friendRequest.userroom)" class="btn btn-chat">
                                            </div>

                                            <div style="float:right;font-size:.8em"><span am-time-ago="friendRequest.date"></span></div>
                                          </div>
                                 <li class="divider"></li>
                            </li>
                            <a href="" ng-if="friendRequests.length>6" ng-click="getFriendRequestsOnScrolling()" translate="seeMoreFriendRequest">see more friend requests.....</a>
                        </ul>
                    </li>
                    <!-- messages -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-click="messageHasBeenSeen()">
                            <span class="top-label label label-danger">{{numberOfMessages}}</span><i class="fa fa-envelope fa-3x"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-messages topbarscrollbarmessageNotification" id="topbarmessagenotification-1">
                            <li class="list-group-item list-group-item-warning" ng-repeat="userMessage in postUserMessages">
                                  <div class='container2'>
                                    <div ng-if="postUserMessages.length!=0">
                                     <img ng-src="/userImage/{{userMessage.photo}}" class='iconDetails'>
                                    </div>
                                    <div style='margin-left:60px;'>
                                    <h4>{{userMessage.username}}</h4>
                                    <div style="font-size:1em">
                                      <!-- <a href="" ng-click="letsChat(userMessage.userId,userMessage.username)"></a> -->
                                      <a href="/jobFinder/notifications/{{userFullName}}">{{userMessage.message}}</a>

                                    </div>
                                    <div style="float:right;font-size:.8em">
                                     <span am-time-ago="userMessage.date"></span></div>
                                  </div>
                                 <li class="divider"></li>
                            </li>
                            <a href="" ng-if="postUserMessages.length>4" ng-click="getMessageOnScrolling()" translate="seeMoreMessages">see more messages.......</a>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-click="notificationHasBeenSeen()">
                            <span class="top-label label label-warning">{{notificationResultOne}}</span><i class="fa fa-bell fa-3x"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts topbarscrollbarNotification" id="topbarnotification-1">
                           <li class="list-group-item list-group-item-danger" ng-repeat="userNotificationMessages in userNotificationMessages">
                                 <div class='container2'>
                                    <div>
                                      <img ng-src="/userImage/{{userNotificationMessages.photo}}" class='iconDetails'>
                                    </div>
                                    <div style='margin-left:60px;'>
                                    <h4>{{userNotificationMessages.username}}</h4>
                                    <div style="font-size:1em"><a href="#detailsModal" ng-click="showModal(userNotificationMessages.location)" data-toggle="modal">{{userNotificationMessages.message}}</a></div>
                                    <div style="float:right;font-size:.8em"><a href="#infoModal" data-toggle="modal" ng-click="details(userNotificationMessages.fromUserId,userNotificationMessages.location)" translate="aboutUser">see about user</a><span am-time-ago="userNotificationMessages.date"></span></div>
                                  </div>
                                 <li class="divider"></li>

                           </li>
                           <a href="" ng-if="userNotificationMessages.length>4" ng-click="getOtherNotificationsOnScrolling()"  translate="seeMoreNotifications">see more........</a>
                        </ul>
                        <!--end of notification-->
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-sign-out fa_custom fa-2x"></i>
                        </a>
                        <!-- dropdown user-->
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="/jobFinder/settings/{{userFullName}}"><i class="fa fa-gear fa-1x" translate="Settings"></i></a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/login.html" ng-click="logout()"><i class="fa fa-sign-out fa_custom fa-1x" translate="logout"></i></a>
                            </li>
                        </ul>
                        <!-- end dropdown-user -->
                    </li>
                    <!-- end main dropdown -->
                </ul>
                <!-- end navbar-top-links -->

            </nav>
            <!-- end navbar top -->
            <!-- navbar side -->
            <nav class="navbar-default navbar-static-side" role="navigation">
                <!-- sidebar-collapse -->
                <div class="sidebar-collapse">
                    <!-- side-menu -->
                    <ul class="nav" id="side-menu">
                        <li>
                            <!-- user image section-->
                            <div class="user-section" ng-controller="homePageController">
                                <div class="user-section-inner profileImage">
                                    <a href="/jobFinder/settings/{{userFullName}}" ng-model="photo"><img ng-src="/userImage/{{photo}}" alt=""></a>
                                </div>
                                <div class="user-info">
                                    <div ng-model="result">{{sharedDataUserName[1]}}</div>
                                    <div class="user-text-online">
                                        <span class="user-circle-online btn btn-success btn-circle" translate="online"></span>
                                    </div>
                                </div>
                            </div>
                            <!--end user image section-->
                        </li>
                        <li>
                            <a href="/jobFinder/home/{{userFullName}}" translate="home"></a>
                        </li>
                        <li class="selected">
                            <a href="/jobFinder/professionalTransactions/{{userFullName}}" translate="employeeAndEmployer"></a>
                        </li>
                        <li>
                            <a href="/jobFinder/issues/{{userFullName}}" translate="issuesAndSuggestions"></a>
                        </li>
                        <li>
                            <a href="/jobFinder/dailyLifeHappenings/{{userFullName}}" translate="dailyLifeHappenings"></a>
                        </li>
                         <li>
                            <a href="/jobFinder/chatbox/{{userFullName}}" translate="chatRoom"></a>
                        </li>
                        <li>
                            <a href="/jobFinder/thingsToSale/{{userFullName}}" translate="thingsToSale"></a>
                        </li>
                        <li>
                            <a href="/jobFinder/notifications/{{userFullName}}" translate="notifications"></a>
                        </li>
                         <li>
                            <a href="/jobFinder/settings/{{userFullName}}" translate="userSettings"></a>
                        </li>
                    </ul>
                    <!-- end side-menu -->
                </div>
                <!-- end sidebar-collapse -->
            </nav>
            <!-- end navbar side -->
            <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row" ng-controller="clientCtrl">

                <div class="col-lg-12"><br><br>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <label translate="clientRegistration"></label>
                        </div>
                        <div>
                         <p id="reactionAlert" class="alert alert-info myalert"></p>
                        </div>
                       <div class="panel-body">
                            <div class="col-lg-6">
                                <form name="cForm" novalidate>
                                  <label translate="name"></label>
                                  <input type="text" ng-model="name" class="form-control">
                                  <label translate="websiteAddress"></label>
                                  <input type="text" ng-model="url" class="form-control">
                                  <label translate="telephone"></label>
                                  <input type="text" id="teleId" ng-minlength="8" ng-maxlength="14" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="cTele" placeholder="Telephone" ng-model="cTele" class="form-control" required>
                                    <p ng-show="proForm.pTele.$error.minlength">not valid number</p>
                                    <p ng-show="proForm.pTele.$error.maxlength">not valid number</p>
                                   <p ng-show="cForm.email.$invalid && !cForm.email.$pristine" class="help-block">Enter remarks</p>
                                  <label translate="howLongDoesTheWorkTakes"></label>
                                  <input type="text" id="remarkId" name="timeTaken" placeholder="hours can take" ng-model="timeTaken" class="form-control" required>
                                   <p ng-show="cForm.timeTaken.$invalid && !cForm.timeTaken.$pristine" class="help-block">Enter remarks</p>
                                </form>
                                <span translate="country"></span>
                                <autocomplete ng-model="country" attr-placeholder="country..." country-enter="onEnter()" click-activation="true" data="countryDatas"  on-type="fillCountry" on-select="countrySelection"></autocomplete>
                                <span translate="city"></span>
                                 <autocomplete ng-model="city" attr-placeholder=" city..." city-enter="onEnter()" click-activation="true" data="cityDatas"  on-type="fillCity"  on-select="citySelection"></autocomplete>
                                 <label translate="youAreLookingNow"></label><input type="hidden" ng-model="cWorkSituationId">
                                  <span ng-if="languageKey=='EN'">
                                     <select class="form-control" ng-options="status as status.english for status in statuses track by status.Id" ng-change="cworksituation(cWorkSituation.Id)" ng-model="$parent.cWorkSituation" title="choose profession" >
                                       <option value="">{{cWorkSituation}}</option>
                                         </select>
                                  </span>
                            <span ng-if="languageKey==null">
                               <select class="form-control" ng-options="status as status.english for status in statuses track by status.Id" ng-change="cworksituation(cWorkSituation.Id)" ng-model="$parent.cWorkSituation" title="choose profession" >
                                  <option value="">{{cWorkSituation}}</option>
                                   </select>
                            </span>
                            <span ng-if="languageKey=='TG'">
                               <select class="form-control" ng-options="status as status.tigrina for status in statuses track by status.Id" ng-change="cworksituation(cWorkSituation.Id)" ng-model="$parent.cWorkSituation" title="choose profession" >
                                  <option value="">{{cWorkSituation}}</option>
                                   </select>
                            </span>
                            <span ng-if="languageKey=='NL'">
                               <select class="form-control" ng-options="status as status.dutch for status in statuses track by status.Id" ng-change="cworksituation(cWorkSituation.Id)" ng-model="$parent.cWorkSituation" title="choose profession" >
                                  <option value="">{{cWorkSituation}}</option>
                                   </select>
                            </span>
                            <label translate="soYouAreLookingFor"></label>
                            <autocomplete ng-model="profession" attr-placeholder="profession..." profession-enter="onEnter()" click-activation="true" data="professionDatas"  on-type="fillProfession" on-select="professionSelection"></autocomplete>

                            </div>
                       <div>
                           <div class="col-lg-6">
                                  <label translate="writeWorkSummary"></label><br>
                                  <textarea rows="5" cols="20" class="form-control" ng-maxlength="100" placeholder="summary of work" ng-model="workSummary" name="workDetails" required></textarea>
                                  <p ng-show="cForm1.workDetails.$error.maxlength" translate="exceedTheLimit">exceed the limet</p>
                                  <label translate="writeWorkDetails"></label><br>
                                  <textarea rows="5" cols="40" class="form-control" ng-maxlength="500" placeholder="work details" ng-model="workDetails" name="workDetails" required></textarea>
                                  <p ng-show="cForm1.workDetails.$error.maxlength" translate="exceedTheLimit">exceed the limet</p><br>

                                 <input type="hidden" ng-model="clientDateAppointment">
                                 <button translate="saveUpdate" ng-disabled="cForm.$invalid" value="save/update" ng-click="saveClientInfo()" class="btn btn-primary"></button><br>
                                 <input type="hidden" name="ClientId" ng-model="clientMainTableId">
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end page-wrapper -->
        <div class="modal" id="saleItemIdInfo" tablindex="-1" data-backdrop="static" data-keyboard="false">   <!--info modal-->
           <div class="modal-dialog model-lg">
              <div class="modal-content">
                  <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="">
                        <a href="">{{catagories}}</a>
                        <div class="gallery">
                            <img  ng-src="/saleThingsImageCollector/{{saleItemfileName}}" id="1" data-scale="2.4" height="200" width="200" class="thumbnail"></a>
                            <label>{{saleItemName}}</label><br>
                             <span translate="price"></span>
                             <p>{{price}}&nbsp;{{unit}}</p>
                         </div>
                      </div>
                       <div class="">
                         <a href="#" ng-click="getDetailsOfItemForSale()">get details of this item</a>
                         <table border="1" style="width:100%">
                              <thead>
                                  <tr>
                                      <th>measurment</th>
                                      <th>quantity</th>
                                  </tr>
                              </thead>
                              <tbody ng-repeat="data in saleItemDetails">
                                  <tr>
                                       <td>{{data.size}}</td>
                                       <td>{{data.amount}}</td>
                                  </tr>
                              <tbody>
                          </table>
                       </div>
                    </div>
                  </div>
              </div>
           </div>
        <div class="container" id="saleItemsChatBox" ng-show="saleItemchatbox">
               <div class="row chat-window col-xs-3 col-md-3 col-lg-4" id="chat_window_1" style="margin-left:500px;">
                  <div class="col-xs-12 col-md-12">
                   <div class="panel panel-default">
                       <div class="panel-heading top-bar" style="background: #666;color: white;padding: 5px;position: relative;overflow: hidden;">
                           <div class="col-md-8 col-xs-8">
                                <h3 class="panel-title" ng-model="toName"><span><img src="/assets/img/icons8-Chat-48.png"></span><a href="#saleItemIdInfo" ng-click="getSaleItem()" data-toggle="modal">{{toName}}</a></h3>
                           </div>
                           <div id="messageBody" class="col-md-4 col-xs-4" style="text-align: right;">
                               <a href="#"><span id="minim_chat_window"></span></a>
                               <a href="#" ng-click="closeChatWithSupplier()"><label style="color:white">X</label></a>
                           </div>
                       </div>
                       <div class="panel-body msg_container_base"  id="promptAnswerBlock">
                          <div ng-repeat="user in saleItemMessages" class="row msg_container base_receive" on-finish-render="ngRepeatFinished">
                              <div  class="col-md-10 col-xs-10">
                                 <div  class="messages msg_receive">
                                    <p  style="font-size:16px;">{{user.message}}</p>
                                   <span class="label label-info ng-binding ">{{user.username}}</span><span am-time-ago="user.date"></span>
                                 </div>
                              </div>
                           </div>
                       </div>
                       <div class="panel-footer chatboxFooter">
                         <div class="input-group">
                             <input id="btn-input" type="text" ng-model="message" class="input1 form-control input-sm chat_input" placeholder="Write your message here..." on-enter="sendMessage(message)" />
                             <span class="input-group-btn">
                             <button   class="btn btn-primary btn-sm" id="btn-chat"  ng-click="sendMessageBetweenClientAndSupplier(message)" translate="send" ></button>
                             </span>
                         </div>
                       </div>
                    </div>
                  </div>
               </div>
        </div>
    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-translate/angular-translate.js"></script>
    <!-- <script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js"></script> -->
    <script src="/assets/plugins/jquery-1.10.2.js"></script>
    <script src="/assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/controller/main.js"></script>
    <script  src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/moment/locale/de.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="/controller/autocomplete.js"></script>

</body>

</html>
