<!DOCTYPE html>
<html ng-app="myApp" ng-cloak>
  <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116004031-1"></script>
        <!-- <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-116004031-1');
        </script> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>your help lab buy items</title>
    <!-- Core CSS - Include with every page -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!--google fonts-->
     <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre|Francois+One" rel="stylesheet">
     <!-- Font-awesome CDN -->
     <script src="https://use.fontawesome.com/9905f6c07d.js"></script>
    <link href="/assets/css/chat.css" rel="stylesheet"/>
    <link href="/assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/chat.css" rel="stylesheet"/>
    <link href="/assets/css/main-style.css" rel="stylesheet"/>
    <!-- <link rel="icon" href="/assets/log/bird.png"> -->
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/jpg">
   <link rel="stylesheet" href="assets/css/SearchStyle.css">
       <style>thead {color:green;}
                tbody {color:blue;}
                tfoot {color:red;}
                table,th,td
                {border:1px solid black;}
                .headerBackGround{
                  background-color:#8629b2;
                }
                [ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{
                  display: none !important;
                }
                .headerText{
                  color:white;
                  font-size:20px;
                }
                .catagories{
                  font-size:20px;
                  margin-left:30px;
                }
       </style>
   </head>
   <script src="https://js.stripe.com/v3/"></script>
  <body ng-controller="thingsToSaleController">

      <header>
        <div class="container">
           <div>
               <div class="head">
                    <div class="col-lg-1 pull-left">
                      <img src="/assets/img/bird.png" alt="log here" width="110" height="110">
                    </div>
                    <div class="col-lg-11">
                      <h1 translate="yourhelplabdotcom"> your help lab</h1>
                      <p  class="pull-left"><a href="" class="headerText" ng-click="changeLanguage('TG')">ትግርኛ</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="headerText" ng-click="changeLanguage('EN')" style="color:white;font-size:16px">English</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="headerText" ng-click="changeLanguage('NL')" >Dutch</a></p>
                      <p class="pull-right searchesLogin "><a href="/searches.html" class="headerText" translate="backtosearchHomepage">Home</a></p></span>
                      <p class="pull-right searchesLogin "><a href="/contactus.html" class="headerText" ng-click="contactus()" translate="contactus">Contact Us</a></p></span>
                      <p class="pull-right searchesLogin"><a href="/about.html" class="headerText" ng-click="about()" translate="aboutus">About</a></p></span>
                      <p class="pull-right searchesLogin"><a href="/login.html" class="headerText" translate="loginHeadline">Login</a></p><br>
                    </div>
               </div>
               <div >
            </div>
           </div>
        </div>
       </header>
      <div class="row">
        <div class="">
          <p></p>
        </div>
         <div class="col-lg-3">
          <input type="text" ng-model="categorieFilter" class="form-control" placeholder="type to filter">
           <ul  ng-repeat="category in salethingsCategoriesList | filter:categorieFilter">
                <li class="catagories">
                  <span ng-if="languageKey==null"><a href="#" ng-click="selectCategoryById(category.Id)">{{category.english}}</a></span>
                  <span ng-if="languageKey=='EN'"><a href="#" ng-click="selectCategoryById(category.Id)">{{category.english}}</a></span>
                  <span ng-if="languageKey=='TG'"><a href="#" ng-click="selectCategoryById(category.Id)">{{category.tigrina}}</a></span>
                  <span ng-if="languageKey=='NL'"><a href="#" ng-click="selectCategoryById(category.Id)">{{category.dutch}}</a></span>
                 </li>
             </ul>
        </div>
        <div class="col-lg-9">
                        <div ng-hide="items">
                          <span class="pull-right"><button ng-click="getBoughtItems()" translate="getBoughtItems" class="btn btn-primary"></button><img src="/assets/img/shoppingCart.jpg" width="30" height="30"><label class="label label-danger">{{numberOfBougtItems}}</label></span>
                        </div>
                         <div ng-show="boughtItems">
                                    <div class="panel-body">
                                       <table border="1" style="width:50%">
                                            <thead>
                                                <tr>
                                                    <th translate="itemName"></th>
                                                    <th translate="price"></th>
                                                    <th translate="unit"></th>
                                                    <th translate="amount"></th>
                                                    <th>size</th>
                                                    <th translate="total"></th>
                                                    <th translate="action">action</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="data in boughtThings">
                                                <tr>
                                                     <td>{{data.itemName}}</td>
                                                     <td>{{data.price}}</td>
                                                     <td>{{data.unit}}</td>
                                                     <td>{{data.numberOfItems}}</td>
                                                     <td>{{data.size}}</td>
                                                     <td><label >{{data.total}}</label></td>
                                                     <td><button ng-click="delete(data.id);getTotal();" translate="delete">delete</button></td>
                                                </tr>
                                            <tbody>
                                            <input type="hidden" ng-model="boughtThings" value="{{boughtThings}}">
                                            <tfoot>
                                            <tr>
                                            <td><a href="" ng-click="getTotal()" translate="total">click here:</a></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>{{totalItemsPrice}}</td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                <div class="panel panel-default" ng-if="boughtThings.length!==0">
                                  <div class="panel-heading" translate="buyerInfo"></div>
                                  <div class="panel-body">
                                     <form role="form" name="name"  enctype="multipart/form-data">
                                        <label for="firstName" translate="firstName"></label>
                                        <input type="text"  placeholder="first name" name="firstName" ng-model="$parent.firstName" ng-required="true">
                                         <!-- <label for="middleName" translate="middelName">middel name</label>
                                        <input type="text"  ng-model="$parent.middelName" placeholder="Enter middel" required> -->
                                        <label for="surname" translate="surName">sur name</label>
                                        <input type="text"  placeholder="Enter surname" ng-model="$parent.surName" required>
                                        <button translate="next" ng-click="name.$valid && nextToAddressInfo()" class="btn btn-primary">next</button>
                                      </form><br>
                                      <div class="" ng-show="addressInfo">
                                         <p style="border-style: solid;border-color: grey;"></p>
                                         <label translate="addressInfo"></label><br><br>
                                         <form name="address">
                                           <label for="country" translate="country"></label>
                                           <autocomplete ng-model="$parent.customerCountry" attr-placeholder="country..." country-enter="onEnter()" click-activation="true" data="countryDatas"  on-type="fillCountry" on-select="countrySelection"></autocomplete>
                                           <label  translate="postCode">post code</label>
                                             <input type="text"  placeholder="Enter post code" ng-model="$parent.postCode" ng-required="true">
                                             <label for="houseNumber" translate="houseNumber">House number</label>
                                             <input type="text" id="houseNumber" ng-model="$parent.houseNumber" placeholder="Enter house number" ng-required="true">
                                             <label for="street" translate="street">street</label>
                                            <input type="text" id="inpEmail" ng-model="$parent.street" placeholder="Enter street" ng-required="true">
                                            <label for="city" translate="city">city</label>
                                            <input type="text" id="city" placeholder="Enter city" ng-model="$parent.city" required>
                                             <label for="telephone" translate="telephone">telephone</label>
                                            <input type="number" id="tele" placeholder="Enter telephone" ng-model="$parent.telephone" ng-required="true">
                                             <label for="email" translate="email">email</label>
                                            <input type="email" id="email" ng-model="$parent.email" placeholder="Enter email" ng-required="true">
                                            <button translate="gotopayment" ng-click="address.$valid && nextToPayment()">go to payment</button>
                                          </form><br>
                                      </div>
                                     <p style="border-style: solid;border-color: grey;"></p><br>
                                  </div>
                            </div>
                            <div class="" ng-show="nextToCustomerPayment">
                              <form role="form" action="/jobFinder/thingsToSale1" method="post" enctype="multipart/form-data">
                                  <input type="hidden" name="firstName" value="{{firstName}}">
                                  <!-- <input type="hidden" name="middelName" value="{{middelName}}"> -->
                                  <input type="hidden" name="surName" value="{{surName}}">
                                  <input type="hidden" name="customerCountry" value="{{customerCountry.country}}">
                                  <input type="hidden" name="postCode" value="{{postCode}}">
                                  <input type="hidden" name="houseNumber" value="{{houseNumber}}">
                                  <input type="hidden" name="street" value="{{street}}">
                                  <input type="hidden" name="city" value="{{city}}">
                                  <input type="hidden" name="telephone" value="{{telephone}}">
                                  <input type="hidden" name="email" value="{{email}}">
                                  <input type="hidden" name="boughtThings" value="{{boughtThings}}">
                                  <input type="hidden" name="totalAmount" value="{{totalItemsPrice}}">
                                   <script
                                     src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                     data-key="pk_test_d4jrEghg803mWOk5CsmbX8EE"
                                     data-name="yourhelplab"
                                     data-description="A payment for items you choosed"
                                     data-image="https://www.yourhelplab.com/assets/log/bird.png"
                                     data-locale="auto"
                                     data-currency="eur">
                                   </script>
                               </form>
                            </div>
                                   <button class="pull-right" ng-click="backToSalePage()" translate="backToSalePage" class="btn btn-primary"></button>
                         </div>
                        <div ng-hide="items" class="pull-left">
                               <div class="">
                                    <ul class="pull-left" ng-repeat="data in alldata | filter:catagories"><!--salethings data-->
                                       <li>
                                             <a href="">{{data.catagories}}</a>
                                             <a href="#thingsToBuyModal" ng-click="seeDetailsOfProduct(data.id);getDetailsOfItemForSale(data.id);" data-toggle="modal">
                                             <img  ng-src="/saleThingsImageCollector/{{data.fileName}}" id="1" data-scale="2.4" height="200" width="200" class="thumbnail"></a>
                                             <label>{{data.itemName}}</label><br>
                                            <span translate="price"></span>
                                            <p>{{data.price}}&nbsp;{{data.unit}}</p>
                                             <button type="button" name="button" ng-click="letsChat(data.userId,data.id)" translate="chatWithSupplier">chat with supplier</button>
                                        </li>
                                    </ul>
                               </div>
                        </div>
                        </div>
                         <div class="modal" id="thingsToBuyModal" tablindex="-1" data-backdrop="static" data-keyboard="false">
                          <div class="modal-dialog model-lg">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <button class="close" data-dismiss="modal">&times;</button>
                                     <h4 class="modal-title" translate="buyThingsPost"></h4>
                                     <div class="modal-body">
                                         <ul ng-repeat="data in detailsOfProduct"><!--salethings data-->
                                               <li>

                                                      <div class="col-lg-4 col-sm-3 col-md-4 col-xs-3">
                                                        <p>{{data.description}}</p>
                                                        <a href="">{{data.itemName}}</a>
                                                        <p>
                                                          <!-- <div class="thumbnail" > -->
                                                            <img ng-src="/saleThingsImageCollector/{{data.fileName}}" id="1"  width="500" height="500" class="thumbnail">
                                                          <!-- </div> -->

                                                        <label translate="price"></label><p>{{data.price}}&nbsp;{{data.unit}}</p>
                                                            <label for="" translate="size"></label>
                                                            <select class="" name="" ng-model="selectedSize" ng-change="onselectedSize(selectedSize)">
                                                              <option ng-repeat="data in saleItemDetails">{{data.size}}</option>
                                                            </select>
                                                            <span translate="amount">
                                                           </span>
                                                            <input type="number" step="1" min="1" max="100" ng-model="numberOfItems" value="{{1}}">
                                                           <button  class="btn btn-primary" ng-click="buy(data.id,data.itemName,data.price,data.unit,numberOfItems,data.itemId);getTotal();" translate="buy" ng-show="buyDisplay" ng-disabled="!selectedSize"></button>
                                                        <button ng-click="cancel(data.id);getTotal();" translate="cancel" class="btn btn-danger" ng-show="cancelDisplay"></button>
                                                        <span ng-if="data.userId==idUser"></span>
                                                        </p>
                                                      </div>

                                                </li>
                                            </ul>
                                     </div>
                                 </div>
                              </div>
                          </div>
                        </div>
                        <div class="container" id="mydiv" ng-show="chatbox">
                             <div class="row chat-window col-xs-12 col-md-12 col-lg-4" id="chat_window_1" style="margin-left:500px;">
                                <div class="col-xs-12 col-md-12">
                                 <div class="panel panel-default">
                                     <div class="panel-heading top-bar" style="background: #666;color: white;padding: 5px;position: relative;overflow: hidden;">
                                         <div class="col-md-8 col-xs-8">
                                              <h3 class="panel-title" ng-model="toName"><span><img src="/assets/img/icons8-Chat-48.png"></span>{{toName}}</h3>
                                         </div>
                                         <div id="messageBody" class="col-md-4 col-xs-4" style="text-align: right;">
                                             <a href="#"><span id="minim_chat_window"></span></a>
                                             <a href="#" ng-click="closeChat(name)"><label style="color:white">X</label></a>
                                         </div>
                                     </div>
                                     <div class="panel-body msg_container_base" id="promptAnswerBlock">
                                        <div ng-repeat="user in supplierMessage" class="row msg_container base_receive" >
                                            <div  class="col-md-10 col-xs-10" on-finish-render="ngRepeatFinished">
                                               <div  class="messages msg_receive">
                                                  <p>{{user.message}}</p>
                                                 <span class="label label-info ng-binding ">{{user.username}}</span><span am-time-ago="user.date"></span>
                                               </div>
                                            </div>
                                         </div>
                                     </div>
                                     <div class="panel-footer chatboxFooter">
                                       <div class="input-group">
                                           <input id="btn-input" type="text" ng-model="message" class="form-control input-sm chat_input" placeholder="Write your message here..." on-enter="doPost(message)" />
                                           <span class="input-group-btn">
                                           <button class="btn btn-primary btn-sm" id="btn-chat" ng-click="sendMessageBetweenClientAndSupplier(message)" translate="send">Send</button>
                                           </span>
                                       </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                       </div>
        <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="/bower_components/angular-translate/angular-translate.js"></script>
        <!-- <script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js"></script> -->
        <script src="/assets/plugins/jquery-1.10.2.js"></script>
        <script src="/assets/plugins/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="/controller/main.js"></script>
        <script  src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
        <script src="/bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>
        <script src="/bower_components/moment/moment.js"></script>
        <script src="/bower_components/moment/locale/de.js"></script>
        <script src="/bower_components/angular-moment/angular-moment.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
         <script type="text/javascript" src="/controller/autocomplete.js"></script>
  </body>
</html>
